@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-tap-highlight-color: transparent;
}
@layer base {
  *[data-theme="light"] {
    --color-base-100: 255 255 255;
    --color-base-200: 247 247 249;
    --color-base-300: 230 230 230;
    --color-base-content: 74 74 74;

    --color-neutral: 74 74 74;
    --color-neutral-focus: 129 129 129;
    --color-neutral-content: 247 247 247;

    --color-primary: 255 51 95;
    --color-primary-focus: 195 64 92;
    --color-primary-content: 74 74 74;

    --color-secondary: 0 0 0;
    --color-secondary-focus: 10 10 10;
    --color-secondary-content: 255 255 255;
  }
  *[data-theme="dark"] {
    --color-base-100: 77 77 77;
    --color-base-200: 90 90 90;
    --color-base-300: 110 110 110;
    --color-base-content: 245 245 245;

    --color-primary: 255 51 95;
    --color-primary-focus: 195 64 92;
    --color-primary-content: 74 74 74;

    --color-secondary: 0 0 0;
    --color-secondary-focus: 10 10 10;
    --color-secondary-content: 255 255 255;

    --color-neutral: 74 74 74;
    --color-neutral-focus: 129 129 129;
    --color-neutral-content: 247 247 247;
  }
}
@layer utilities {
  .container-wide {
    @apply w-full max-w-[1110px] mx-auto max-[1158px]:px-[16px];
  }
  .container-large {
    @apply w-full max-w-[850px] mx-auto;
  }
  .container-article {
    @apply w-full max-w-[700px] mx-auto max-[732px]:px-[16px];
  }

  .article-h2 {
    @apply text-headingMMobile md:text-headingM mt-[40px] mb-[20px] uppercase border-b-[1px] border-base-content/20 font-bold;
  }
  .article-h3 {
    @apply text-headingSMobile md:text-headingS mb-[10px] mt-[24px] font-bold;
  }
  .article-p {
    @apply mb-[8px] text-bodyMMobile md:text-bodyM;
  }

  .article-emphesise {
    @apply text-primary font-bold;
  }
  .article-text-link {
    @apply border-b-[3px]  border-primary hover:border-none hover:text-primary transition-all duration-200;
  }
  .page-padding {
    @apply pt-[55px] md:pt-[100px] pb-[40px] md:pb-[60px];
  }
  .transition-universal {
    @apply transition-all duration-300;
  }
  .hover-primary {
    @apply hover:fill-primary hover:text-primary transition-all duration-300;
  }
  .primary-gradient {
    @apply bg-gradient-to-br from-primary to-primary-200;
  }
  .primary-gradient-hover {
    @apply bg-gradient-to-br from-primary/40 to-primary-200/40;
  }
  .form-input {
    @apply p-[10px] border-[2px] border-base-300  w-full bg-transparent focus:bg-base-100 focus:border-transparent outline-none rounded-[5px] placeholder:text-base-content  transition-universal;
  }
  .test-border {
    @apply border-[1px] border-red-500;
  }
}
