.under-construction {
  width: 100vw;
  height: 100vh;
  background-color: #1c0f18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  img {
    max-width: 600px;
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 600px) {
  .under-construction {
    img {
      object-position: 49%;
    }
  }
}
